:root {
  --cal-container-width: 360px;
  --cal-container-height: 640px;
  --cal-container-border-radius: 20px;
  --cal-container-box-sizing: border-box;
  --cal-container-padding: 65px 20px 18px 20px;
  --cal-container-shadow: 13px 13px 10px #e5e5e5;
  --cal-container-border: 1px solid rgba(0, 0, 0, 0.2);
  --cal-container-linear-gradiente: 180deg, #fefefe 0%, #e9ecee 37.34%;
  --cal-diplay-padding: 12px;
  --cal-display-bg-color: #000;
  --cal-display-border-radius: 10px;
  --cal-display-shadow: 4px 4px 4px #d5d8dc;
  --cal-display-screen-bg-color: #a5a5a5;
  --cal-display-screen-txt-color: #3f474e;
  --cal-display-screen-padding: 24px 16px 24px 16px;
  --cal-display-screen-font: 28px Roboto;
  --cal-display-screen-margin: 0;
  --cal-display-screen-letter-spacing: 15%;
  --cal-display-screen-text-align: end;
  --cal-primary-color: #0f56b3;
  --cal-bg-color: #fbfbfb;
  --cal-grey-color: #787878;
  --cal-btns-gap: 1rem;
  --cal-btns-padding: 0;
  --cal-btns-display: grid;
  --cal-btns-margin: 48px 0 0 0;
  --cal-btns-grid: repeat(5, 1fr) / repeat(4, 1fr);
  --cal-btn-width: 67px;
  --cal-btn-height: 67px;
  --cal-btn-border-radius: 50%;
  --cal-btn-text-align: center;
  --cal-btn-box-shadow: 0px 0px 10px 0px #d4d5d7;
  --cal-btn-font: 500 24px Roboto;
  --cal-btn-animation-duration: 300ms;
  --cal-btn-transform: scale(0.95);
  --cal-btn-border: none;
  --cal-btn-bg-color: #f4f5f7;
  --cal-btn-txt-color: #627785;
  --cal-btn-em-bg-color: #e7e9ec;
  --cal-btn-em-txt-color: #7c7d85;
  --cal-btn-secondary-bg-color: #f5f0e4;
  --cal-btn-secondary-txt-color: #627785;
  --cal-btn-secondary-em-bg-color: #fe9505;
  --cal-btn-secondary-em-txt-color: #ffffff;
  --cal-btn-primary-bg-color: #d5d6e9;
  --cal-btn-primary-txt-color: #111c81;
  --cal-btn-primary-em-bg-color: #2d41f5;
  --cal-btn-primary-em-txt-color: #ffffff;
}
