@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.contaniner {
  width: var(--cal-container-width);
  height: var(--cal-container-height);
  border: var(--cal-container-border);
  padding: var(--cal-container-padding);
  box-shadow: var(--cal-container-shadow);
  box-sizing: var(--cal-container-box-sizing);
  border-radius: var(--cal-container-border-radius);
  background: linear-gradient(var(--cal-container-linear-gradiente));
}

.display {
  padding: var(--cal-diplay-padding);
  box-shadow: var(--cal-display-shadow);
  background-color: var(--cal-display-bg-color);
  border-radius: var(--cal-display-border-radius);
}

.display .screen {
  font: var(--cal-display-screen-font);
  margin: var(--cal-display-screen-margin);
  color: var(--cal-display-screen-txt-color);
  padding: var(--cal-display-screen-padding);
  text-align: var(--cal-display-screen-text-align);
  background-color: var(--cal-display-screen-bg-color);
  letter-spacing: var(--cal-display-screen-letter-spacing);
}

button + button {
  margin: 0;
}

.buttons {
  gap: var(--cal-btns-gap);
  display: var(--cal-btns-display);
  margin: var(--cal-btns-margin);
  padding: var(--cal-btns-padding);
  grid: var(--cal-btns-grid);
}
